.search-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
}

.search-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.search-field {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.search-label {
    margin: 0 16px;
    font-weight: bold;

}

.search-actions button {
    margin: 16px;
    font: var(--font-body);
    background-color: var(--accent-color);
    color: var(--font-color);
    border-radius: 4px;
    border: none;
    padding: 4px 16px;

}



